/* You can add global styles to this file, and also import other style files */

:root {
    --timeblock-busy: brown;
    --timeblock-free: green;
    --timeblock-neutral: lightgray;
  }
body{
    background: radial-gradient(circle, rgb(53, 10, 82) 0%, rgb(69, 48, 82) 50%, rgba(69, 48, 82,1) 100%);
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}